body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.wrapper {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .wrapper {
    width: 1440px;
  }
}
.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.page-header {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: rgba(0, 0, 255, 0.2);
}
.page-header__logo-wrapper {
  background-color: rgba(255, 0, 0, 0.2);
  min-height: 66px;
}
@media (min-width: 768px) {
  .page-header {
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: center;
    min-height: 110px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .page-header {
    position: relative;
    z-index: 2;
    min-height: 170px;
    padding: 0 70px;
  }
}
.main-nav {
  margin-left: auto;
  width: 100%;
}
.main-nav__list {
  background-color: rgba(0, 255, 0, 0.2);
}
@media (min-width: 768px) {
  .main-nav {
    width: 500px;
  }
  .main-nav__toggle {
    display: none;
  }
}
.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.site-list__item {
  min-height: 66px;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .site-list__item {
    height: auto;
    background-color: rgba(255, 0, 0, 0.2);
    min-height: 20px;
    width: 150px;
  }
}
.promo-banner {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 500px;
  background-image: url("/images/banner-background-white.jpg"), url("/images/banner-background.jpg");
  background-position: 0 100%, 100% 0;
  background-repeat: repeat-x, no-repeat;
  background-size: auto, 450px;
  background-color: rgba(255, 0, 0, 0.2);
}
.promo-banner__slogan {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
}
.promo-banner__text {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
}
.promo-banner__link {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin-top: auto;
  padding: 10px;
  text-align: center;
  background-color: #68b738;
}
.promo-banner__image {
  position: absolute;
  bottom: 50px;
  width: 280px;
  height: 270px;
  background-image: url("/images/banner.png");
}
@media (min-width: 768px) {
  .promo-banner {
    align-items: flex-start;
    height: 840px;
    background-image: none;
  }
  .promo-banner__slogan {
    font-size: 60px;
    color: #111;
  }
  .promo-banner__text {
    font-size: 20px;
    color: #111;
  }
  .promo-banner__link {
    display: inline-block;
    margin-top: 0;
  }
  .promo-banner__image {
    width: 709px;
    height: 609px;
    background-image: url("/images/banner-tablet.png");
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .promo-banner {
    height: 610px;
    background-image: url("/images/banner-background.jpg");
    background-position: 100% 0;
    background-repeat: no-repeat;
    margin-top: -170px;
    padding-top: 170px;
  }
  .promo-banner__image {
    width: 552px;
    height: 499px;
    background-image: url("/images/banner-desktop.png");
    top: 160px;
    right: 400px;
    z-index: 0;
  }
}
.weight {
  padding: 0 20px;
}
.weight__loss {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f2f2f2;
}
.weight__loss .weight__logo {
  width: 50px;
  height: 52px;
}
.weight__gain {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f2f2f2;
}
.weight__gain .weight__logo {
  width: 67px;
  height: 50px;
}
.weight__slogan {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #111;
}
.weight__link {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #111;
}
.weight__text:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 30px;
  background-color: #444;
}
@media (min-width: 768px) {
  .weight {
    padding: 0 30px;
  }
  .weight__loss-wrapper {
    position: relative;
    box-sizing: border-box;
    min-height: 370px;
    padding: 75px 320px 50px 50px;
  }
  .weight__loss-wrapper .weight__logo {
    position: absolute;
    right: 80px;
    top: 90px;
    width: 200px;
    height: 212px;
  }
  .weight__gain-wrapper {
    position: relative;
    box-sizing: border-box;
    min-height: 370px;
    padding: 75px 320px 50px 50px;
  }
  .weight__gain-wrapper .weight__logo {
    position: absolute;
    right: 40px;
    top: 90px;
    width: 268px;
    height: 200px;
  }
  .weight__text:after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .weight {
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
  }
  .weight__loss,
  .weight__gain {
    padding: 0;
  }
  .weight__loss-wrapper {
    position: static;
    width: 570px;
    padding: 50px;
  }
  .weight__loss-wrapper .weight__logo {
    position: static;
    width: 100px;
    height: 106px;
  }
  .weight__gain-wrapper {
    position: static;
    width: 570px;
    padding: 50px;
  }
  .weight__gain-wrapper .weight__logo {
    position: static;
    width: 134px;
    height: 100px;
  }
}
/*# sourceMappingURL=style.css.map */