.main-nav {
    margin-left: auto;
    width: 100%;

    //display: none;
}

.main-nav__list {
    background-color: rgba(0,255,0,0.2);
}

@media (min-width: @tablet-width) {

    .main-nav {
        width: 500px;
    }

    .main-nav__list {
    }

    .main-nav__toggle {
        display: none;
    }

}

@media (min-width: @desktop-width) {

}