.site-list {
    .reset-list();
    text-align: center;
}

.site-list__item {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    border-top: 1px solid #e6e6e6;
}

.site-list__item a {
    cursor: pointer;
    display: block;
    padding: 20px 0;

    color: #000;
}

.site-list__item a[href] {
    &:hover {
        opacity: 0.6;
    }
    &:active {
        opacity: 0.3;
    }
}

@media (min-width: @tablet-width) {

    .site-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .site-list__item {
        height: auto;
        min-height: 20px;
        border-top: none;
    }

    .site-list__item a {
        font-size: 16px;
        line-height: 20px;
    }

    .site-list__item a[href] {

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }
    }

    .site-list__item a:not([href]) {
        border-bottom: 2px solid #68b738;
    }
}

@media (min-width: @desktop-width) {

    .site-list a:not([href]){
        border-bottom: 2px solid #fff;
    }

    .site-list__item a {
        font-size: 20px;
        line-height: 24px;
    }
    .site-list__item a:not([href]) {
        border-bottom: 3px solid #68b738;
    }

}