.social {
    .reset-list();
    display: flex;
    padding: 20px;

}

.social__list {
    width: 100%;
    &:after {
        content: '';
        display: block;
        height: 1px;
        background-color: #d9d9d9;
        margin-top: 20px;
    }
}


.social__item {

}

.social__link {
    color: #000;
}

@media (min-width: @tablet-width) {

    .social__list {
        &:after {
            display: none;
        }
    }
}